<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Site Title-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="bootstrap-fa/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,400italic%7CJosefin+Sans:400,700,300italic">
    <link rel="stylesheet" href="bootstrap-fa/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap-fa/css/style.css">

    <title>Set Topic</title>
</head>
<body>
<!-- Page Loader-->
<div id="page-loader">
    <div class="page-loader-body">
        <div class="cssload-spinner">
            <div class="cssload-cube cssload-cube0"></div>
            <div class="cssload-cube cssload-cube1"></div>
            <div class="cssload-cube cssload-cube2"></div>
            <div class="cssload-cube cssload-cube3"></div>
            <div class="cssload-cube cssload-cube4"></div>
            <div class="cssload-cube cssload-cube5"></div>
            <div class="cssload-cube cssload-cube6"> </div>
            <div class="cssload-cube cssload-cube7"></div>
            <div class="cssload-cube cssload-cube8"></div>
            <div class="cssload-cube cssload-cube9"></div>
            <div class="cssload-cube cssload-cube10"></div>
            <div class="cssload-cube cssload-cube11"></div>
            <div class="cssload-cube cssload-cube12"></div>
            <div class="cssload-cube cssload-cube13"></div>
            <div class="cssload-cube cssload-cube14"></div>
            <div class="cssload-cube cssload-cube15"></div>
        </div>
    </div>
</div>
<!-- Page-->
<div class="page">
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="5px" data-lg-stick-up-offset="5px" data-md-stick-up="true" data-lg-stick-up="true">
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- headLine Logo -->
                            <div class="rd-navbar-brand"><a class="brand" th:href="@{/page.do?operate=page&page=index}">
                                <div class="brand__name"><img class="brand__logo-dark" src="images/logo.png" alt="" width="237" height="35"/></div>
                                <span class="brand__slogan">喜迎20大  永远跟党走</span></a>
                            </div>
                        </div>
                        <!-- headline a组件-->
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-element">
                                <!-- 登录下拉 button-->
                                <ul class="list-icons list-inline-sm">
                                    <div class="btn-group " role="group">
                                        <button type="button" th:if="${session.author==null&(session.admin==null)}"
                                                class="button button-block button-primary-outline button-ujarak"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            登 录
                                            <span class="caret"></span>
                                        </button>
                                        <input type="button" th:value="${session.author.nickName}"
                                               th:if="${session.author}!=null"
                                               class="button button-block button-primary-outline button-ujarak"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                                        <input type="button" th:value="${session.admin.nickName}"
                                               th:if="${session.admin}!=null"
                                               class="button button-block button-primary-outline button-ujarak"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                                        <ul class="dropdown-menu">
                                            <ul class="rd-navbar-nav">
                                                <li><a th:href="@{page.do?operate=login&logNum=0&enroll=0}">用户登录<span></span><span></span><span></span><span></span></a></li><br/>
                                                <li><a th:href="@{page.do?operate=login&logNum=1&enroll=0}">管理登录<span></span><span></span><span></span><span></span></a></li>
                                            </ul>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li><a th:href="@{/topic.do?operate=page&page=index}">主  页<span></span><span></span><span></span><span></span></a>
                                </li>
                                <li><a th:href="@{/topic.do?operate=page&page=topicHt}">专  题<span></span><span></span><span></span><span></span></a>
                                </li>
                                <!-- 此处th:if 进行是否已经登录判断 进行投稿按钮的可按性 a.innerText设置为空即可取消此页面显示-->
                                <!--th:if="${session.loginId}!="-->
                                <li><a th:href="@{/topic.do(operate='page',page='authorWadmin',loginNum=${session.logNum})}">专题投稿<span></span><span></span><span></span><span></span></a></li>
                                <li><a th:href="@{/page.do?operate=page&page=contact-us}">Contact Us<span></span><span></span><span></span><span></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Topic Detail-->
    <section class="section section-lg bg-white text-center">
        <div class="shell">
            <div class="range range-md-center">
                <div class="cell-md-11 cell-lg-10">

                    <!-- left 面板-->
                    <!--投稿-->
                            <form class="rd-mailform" method="post"
                                  th:action="@{/topic.do(operate='updateTopic',topicId=${session.topicDetail.id})}"
                            th:object="${session.topicDetail}">

                                      <div class="form-wrap">
                                          <input class="form-input" id="contact-title" type="text"
                                                 name="title"
                                                 th:value="*{title}"
                                                 data-constraints="@Required">
                                          <label class="form-label" for="contact-title">专题标题（15字内）</label>
                                      </div>
                                      <div class="form-wrap">
                                          <input class="form-input" id="contact-headLine" type="text"
                                                 name="headLine"
                                                 th:value="*{headLine}"
                                                 data-constraints="@Required">
                                          <label class="form-label"  for="contact-headLine">专题简述（32字内）</label>
                                      </div>
                                      <div class="form-wrap">
                                                          <textarea class="form-input" id="contact-content"
                                                                    name="content"
                                                                    th:text="*{content}"
                                                                    style="height: 400px"
                                                                    data-constraints="@Required"></textarea>
                                          <label class="form-label" for="contact-content">文章内容（5000字内）</label>
                                      </div>
                                      <div class="form-wrap">
                                          <input class="form-input" id="contact-publish" type="text"
                                                 name="publish"
                                                 th:value="*{publish}"
                                                 data-constraints="@Required">
                                          <label class="form-label" for="contact-publish">文章出处（10字内）</label>
                                      </div>
                                      <!--后端获取时间转换异常 此处为了优先注入文章 测试中无视处理 已解决，在bootstrap_js源码中对date_time_picker进行格式修改-->
                                <!--<input name="localDateTime" type="hidden" value="2019-12-33 03:22:12">-->
                                      <div class="form-wrap">
                                          <input class="form-input" id="contact-date" type="text" data-time-picker="date"
                                                 name="localDateTime"
                                                 th:value="*{topicDateTime}"
                                                 data-constraints="@Required">
                                          <label class="form-label" for="contact-date">日期</label>
                                      </div>
                                      <div class="form-wrap form-button offset-1">
                                          <button class="button button-block button-primary-outline button-ujarak"
                                                  type="submit" onclick="crash()" >提交稿件
                                          </button>
                                      </div>
                            </form>

                </div>
            </div>
        </div>
    </section>

    <!-- Page Footer-->
    <footer class="footer-centered section bg-gray-darker">
        <div class="shell">
            <div class="range range-sm-center">
                <div class="cell-sm-10 cell-md-8 cell-lg-6">
                    <!-- beand Logo-->
                    <a class="brand" th:href="@{/page.do?operate=page&page=index}">
                        <div class="brand__name"><img src="images/logo.png" alt="" width="237" height="35"/>  <!-- Logo导航至首页 -->
                        </div><span class="brand__slogan">李金章，宼航航，Ren</span></a>
                    <ul class="list-icons list-inline-sm">
                        <li><a class="icon icon-sm fa fa-instagram icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
                        <li><a class="icon icon-sm fa fa-facebook icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
                        <li><a class="icon icon-sm fa fa-pinterest icon-style-camera" href="#"><span></span><span></span><span></span><span></span></a></li>
                    </ul>
                    <!-- Rights-->
                    <p class="rights"><a href="https://bjwlxy.cn/"><span>BJU StuWeb</span><span>&nbsp;&copy;&nbsp; </span></a><span class="copyright-year"></span>.&nbsp; <br class="veil-xs"><a class="link-underline" href="#">Privacy Policy</a><span> Design&nbsp;by&nbsp;<a href="https://github.com/machsh64">Ren</a></span></p>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="bootstrap-fa/js/core.min.js"></script>
<script src="bootstrap-fa/js/script.js"></script>
</body>
</html>